@import "../../responsive.scss";
.homepage{
    display: flex;
    height: 100%;

    .textcontainer{
        flex: 3;
        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
            
            @include md{
                padding: 0;
            }
            @include sm {
                align-items: flex-start;
                justify-content: flex-start;
                
            }
            

            h1.title{
                font-size: 54px;
                @include lg{
                    font-size: 40px;
                }
                @include sm{
                    font-size: 30px;
                }   
            }
            p{
                @include sm{
                    font-size: 15px;
                }
            }
            .boxes{
                display: flex;
                justify-content: space-between;
                @include sm {
                    display: none;
                }
                h1{
                    font-size: 36px;
                    
                    @include lg{
                        font-size: 32px;
                    }
                    @include sm {
                        display: none;
                    }
                   
                }
                h2{
                    font-size: 18px;
                    font-weight: 200;
                    @include sm {
                        display: none;
                    }
                }
            }
        }
    }
    .imgcontainer{
        flex: 2;
        background-color: #fcf6f2; 
        position: relative;
        @include md{
            display: none;
        }
        @include sm{
            display: none;
        }

        img{
            width: 115%;
            position: absolute;
            right: 0;
            @include lg{
                width: 105%;
            }
        }
    }

}